@page "/productdetails"
@using FlowerCRM.Data
@using System.Net.Http
@using System.Net
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager Navigate

<h3>Product Details</h3>

<input @bind=_code placeholder="Product Code" />
<button @onclick="BtnSearch_OnClicked">Search</button>

@if (product == null)
{
    <p>Loading....</p>
}
else
{
    <p>@product.ProductCode</p>
    <p>@product.ProductDescription</p>
    <p>@product.Price</p>
    <p>@product.ImageUrl</p>
    <p>@product.DateCreated</p>

    <a href="editproduct/@product.Id">Edit</a>
    <button @onclick="() => BtnDelete_OnClicked(product.Id)">Delete</button>

}

@code {
    private string _code;
    private string id;
    private Product product;

    private async void BtnSearch_OnClicked()
    {
        product = await Http.GetFromJsonAsync<Product>("api/Products/ViewProductByCode/"+_code);
    }
    private void BtnEdit_OnClicked()
    {
        //await Http.PutAsJsonAsync("api/Products/" + id, product);
        Navigate.NavigateTo("editproduct/"+id);
    }
    private async void BtnDelete_OnClicked(int Id)
    {
        await Http.DeleteFromJsonAsync<Product>("api/Products/"+ Id);
    }
}
